.admin-controls{
    background-color: rgb(18, 18, 18);
    height: 80px;
    color: rgba(255, 255, 255, 0.724);
    box-shadow: 0px 2px 10px rgba(164, 164, 164, 0.082);
    position: absolute;
    width: 100%;
    z-index: 20;
    display: grid;
    align-items: center;
    display: grid;
    justify-items: center;
    font-size: 12px;
}

.admin-ctrl-btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 220px;
    justify-items: center;
    align-items: center;
}

.all-control-btn {
    fill: rgb(160, 141, 235);
    cursor: pointer;
}

.all-control-btn-dis{
    fill: rgba(160, 141, 235, 0.63);
}

.end-call-btn{
    fill: red;
    cursor: pointer;
}