.header-bar{
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: #3068CC;
    display: grid;
    grid-template-columns: 1fr 300px 332px;
    color: white;
    padding: 10px 20px;
}

.header-info{
    display: grid;
    grid-template-columns: 220px 1fr;
    justify-items: left;
    align-items: center;
}

.header-info-inner{
    display: grid;
    grid-template-columns: 120px 1fr;
    font-size: 14px;
    font-weight: 100;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.577);
}

.header-info-title{
    text-align: right;
    margin-right: 10px;
}

.header-info-values{
    text-align: left;
}



.header-room-title{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.348);
    text-align: left;
    padding-left: 40px;
    border-left: 1px solid white;
}

.header-room-title-head{
    font-size: 10px;
    font-weight: 100;
}