.users-bar{
    width: 330px;
    position: absolute;
    right: 0px;
    top: 0;
    height: 100vh;
    background-color: rgb(41, 37, 37);
    transition: 0.4s;
}

.user-card{
    height: calc(100vh - 70px);
    width: 330px;
    background-color: rgb(41, 37, 37);
    position: absolute;
    right: 0;
    top: 60px;
    box-sizing: border-box;
}

.user-card-title{
    margin-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    color: white;
    font-size: 14px;
    height: 30px;
    background-color: rgb(41, 37, 37);
    position: absolute;
}

.user-list{
    box-sizing: border-box;
    width: 280px;
    margin: auto;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    padding-top: 40px;
    padding-bottom: 30px;
}

.common-user{
    display: grid;
    font-size: 15px;
    width: 280px;
    height: 50px;
    background-color: rgb(65, 62, 62);
    margin: 5px auto;
    color: white;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.09);
    grid-template-columns: 40px 1fr;
}

.common-avatar{
    display: grid;
    align-items: center;
}

.self-user{
    background-color: rgb(93, 93, 93);
}

.common-avatar > svg{
    fill: rgb(160, 141, 235);
}

.common-username{
    display: grid;
    align-items: center;
}
  
@media screen and (max-width: 700px) {
    .users-bar{
        right: -330px;
    }
}