.user-controls{
    height: 60px;
    width: 100%;
    background-color: #121212;
    box-shadow: 0px -3px 10px rgba(79, 79, 79, 0.09);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgba(255, 255, 255, 0.724);
    align-items: center;
    justify-items: center;
    font-size: 13px;
}

.user-controls-btns{
    /* cursor: pointer; */
    /* width: 50px; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.user-controls-btn{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hide-menu-btn{
    display: none;
}
  
@media screen and (max-width: 700px) {
    .hide-menu-btn {
        display: grid;
    }
}